<form method="get" action="/quizzes">
Búsqueda: <input type="text" name="search" value="" placeholder="Introduzca su búsqueda" />
<input type="submit" value="Buscar">
</form>

<table>
  <% for (var i in quizzes) { %>
    <tr>
      <td>
        <a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].question %></a>
      </td>
    </tr>
  <% } %>
</table>
